<h2>Edit <%= @user.full_name %></h2>
<%= form_for @user do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %><br/>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br/>
  <%= f.label :email %>
  <%= f.email_field :email %><br/>
  <%= f.label :date_of_birth %>
  <%= f.date_select :date_of_birth %><br/>
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %><br/>
  <%= f.submit "Save" %>

<% end %>